<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio salud mental</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">
</head>

<body>
    <header class="hero">
        <div class="textos-hero">
        <div>
        <a href="../../../index.php">Inicio</a>
        <a href="#contacto">Contactos de emergencia</a>
            <a href="#contacto">Trastornos</a>
            <a href="#contacto">Autoayuda</a>
            </div>
            <h1>Bienvenido al catalogo de soluciones</h1>
            <p>Creamos el mejor sitio para poder ayudarte</p>
            
        </div>
        <div class="svg-hero" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>


    <section class="wave-contenedor website">
        <img src="../../img/ilustracion1.svg" alt="">
        <div class="contenedor-textos-main">
            <h2 class="titulo left">Title of section</h2>
            <p class="parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt enim reiciendis
                molestias nam tempore. Ullam hic accusantium eligendi ipsam corrupti!</p>
            <a href="" class="cta">Learn more</a>
        </div>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br> <br> <br><br> <br><br><br><br> <br><br><br><br>
    
    <section class="info-last">

        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Catalogo de aplicaciones moviles</h2>
                <p class="parrafo"> 
                Herramientas creadas con el fin de trabajar y solucionar la depresión,
                 aquí encontrara varias app en donde cada una cuenta con distintos metodos 
                 los cuales estaran a su criterio. </p>
            </div>
            <img src="../../img/ilustracion8.jpg" width="500" height="250">    
        </div>

    <section class="info-last">
        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Positive Thinking</h2>
                <p class="parrafo">En la actualidad, muchas personas afirman tener problemas
                 emocionales y del estado de ánimo, pues nuestras expectativas y nuestras 
                 creencias influyen en cómo interpretamos el mundo y cómo valoramos los 
                 eventos que nos ocurren.
                 Las cosas que nos decimos a nosotros influyen en mayor o menor medida
                  en cómo nos sentimos. Positive Thinking es una app que te obsequia
                   con una gran colección de frases positivas para que puedas motivarte
                    y subir tu estado de ánimo en esos momentos en lo que estás de bajón. 
                    Lógicamente no es una herramienta que pueda sustituir la asistencia
                     profesional, pero algunas personas comentan que han notado mejorías
                      en su estado de ánimo cotidiano.</p>
                <a href="test-depre.html" class="cta">Ir</a>
            </div>
            <img src="../../img/app5.png" width="400" height="280">
        </div>
    </section>

    <section class="info-last">
        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Mood Kit</h2>
                <p class="parrafo">Esta app puede convertirse en el mejor aliado de alguien que se siente triste la mayor parte del día. Mood Kit es una guía que te ayudará a mejorar el estado de ánimo gracias a distintos consejos prácticos y actividades que le serán de gran ayuda. Ya que muchas veces son los hábitos de una persona lo que le llevan a la depresión, esta app permite mejorar el bienestar del usuario.</p>
                <a href="test-depre.html" class="cta">Ir</a>
            </div>
            <img src="../../img/app6.jpg" width="500" height="250">
        </div>
    </section>

    <section class="info-last">
        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Optimism</h2>
                <p class="parrafo">Las personas optimistas tienen menos posibilidades de sufrir depresión porque ven la vida desde una óptica positiva, en la que aprenden de los errores y ven en éstos una gran oportunidad para crecer. Con Optimism, es posible detectar patrones de comportamiento tóxicos, lo que te permitirá modificarlos y, por tanto, mejorar la calidad de vida.</p>
                <a href="test-depre.html" class="cta">Ir</a>
            </div>
            <img src="../../img/app7.png" width="500" height="250">
        </div>
    </section>

    <section class="info-last">
        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Urwell</h2>
                <p class="parrafo">Esta aplicación de seguimiento del estado de ánimo
                 llamada Urwell funciona al pedirle al usuario que elija entre más
                  de 50 áreas de su vida, como el trabajo, el ocio, las relaciones
                   familiares, la pareja, el crecimiento personal y la salud,
                    y evalúa cómo se desempeña éste en cada una de ellas. La idea es
                     comenzar con unas pocas áreas e ir construyéndolas de manera que
                      se acaba siendo feliz en cada una de ellas.</p>
                <a href="test-depre.html" class="cta">Ir</a>
            </div>
            <img src="../../img/app8.png" width="500" height="250">
        </div>
    </section>












    <section class="galeria">
        <div class="contenedor">
            <h2 class="titulo">Libros recomendados</h2>
            <article class="galeria-cont">
                <img src="../../img/uno.jpg" alt="">
                <img src="../../img/dos.jpg" alt="">
                <img src="../../img/tres.jpg" alt="">
                <img src="../../img/cuatro.jpg" alt="">
                <img src="../../img/cinco.jpg" alt="">
                <img src="../../img/seis.jpg" alt="">
            </article>
        </div>
    </section>

    

    <footer id="contacto">
        <div class="contenedor">
            <h2 class="titulo">Recibe notificaciones y noticias a tu correo</h2>
            <form action="" class="form">
                <input class="input"  type="text" name="" id="" placeholder="Nombre">
                <input class="input"  type="email" name="" id="" placeholder="Email">
                <textarea  class="input" name="" id="" cols="30" rows="10" placeholder="Comentario"></textarea>
                <input class="input"  type="submit" value="Enviar">
            </form>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
</body>

</html>









