<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio salud mental</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">
</head>

<body>
    <header class="hero">
        <div class="textos-hero">
        <div>
        <a href="../../../index.php">Inicio</a>
        <a href="#contacto">Contactos de emergencia</a>
            <a href="#contacto">Trastornos</a>
            <a href="#contacto">Autoayuda</a>
            </div>
            <h1>Bienvenido al catalogo de soluciones</h1>
            <p>Creamos el mejor sitio para poder ayudarte</p>
            
        </div>
        <div class="svg-hero" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>


    
    <br><br><br><br><br><br><br><br><br><br><br> <br> <br><br> <br><br><br><br> <br><br><br><br>
    
    <section class="info-last">

        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Catalogo de cursos online</h2>
                <p class="parrafo"> 
                Cursos creados con el fin de trabajar y solucionar la depresión,
                 aquí encontrara varias app en donde cada una cuenta con distintos metodos 
                 los cuales estaran a su criterio. </p>
            </div>
            <img src="../../img/ilustracion9.jpg" width="500" height="250">    
        </div>

    <section class="info-last">
        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Centro integral de psicologia</h2>
                <p class="parrafo">  Este curso está dirigido para ti si últimamente has buscado cómo salir de la depresión.
Este curso es para ti si has tenido un estado de ánimo decaído, tristeza o un aplanamiento emocional por más de 2 semanas.
Este curso está dirigido a público general que están pasando por una depresión leve a moderada, aunque también puede ayudar a las personas que sufren de una depresión mayor si se comprometen a seguir los ejercicios del curso. </p>
                <a href="../../test-depre.html" class="cta">Ir</a>
            </div>
            <img src="../../img/curso1.png" width="400" height="280">
        </div>
    </section>

    <section class="info-last">
        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Educa gratis</h2>
                <p class="parrafo"> Según diversos estudios, la depresión afecta hasta un
                 15 % de la población adulta, alcanza una mayor prevalencia entre los 25 
                 y 45 años, y es el doble de frecuente en mujeres que en hombres. De ahí
                  la importancia epidemiológica del trastorno depresivo ya que afecta a 
                  una franja de la población en plena etapa productiva y vital, y tiene
                   de tal modo una importante repercusión socioeconómica.  </p>
                <a href="../../test-depre.html" class="cta">Ir</a>
            </div>
            <img src="../../img/curso2.png" width="500" height="250">
        </div>
    </section>

    <section class="info-last">
        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">El eterno estudiante</h2>
                <p class="parrafo">  El curso “Sin Tristeza… ¿Cómo superar la depresión?” es gratuito
                 y de realización %100 online. El curso fue impulsado por la Facultad de Psicología
                  con el objetivo de concientizar e informar al público en general sobre el correcto
                   tratamiento de la depresión.
               En este curso reconocerás el concepto de depresión, así como las razones
                por las cuales una persona puede presentar tal enfermedad. Posteriormente, se 
                te proporcionará información sobre algunas estrategias que se pueden emplear
                 para prevenirla o enfrentarla, como la programación de actividades placenteras,
                  la comunicación asertiva y la resolución de problemas.
              A lo largo de las unidades, distribuidas en 20 horas de trabajo,
               aprenderás sobre la prevención, manejo y control de la depresión
                de tal manera, que pueda aplicarlas en su vida diaria. </p>
                <a href="../../test-depre.html" class="cta">Ir</a>
            </div>
            <img src="../../img/curso3.png" width="500" height="250">
        </div>
    </section>

    <section class="info-last">
        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Udemy</h2>
                <p class="parrafo">La Depresión o Depresión Mayor es un trastorno
                 del estado de ánimo, y este curso está diseñado para todas 
                 aquellas personas que se encuentren interesadas en saber qué es
                  realmente la Depresión y qué es lo que hay que hacer para superarla.</p>
                <a href="../../test-depre.html" class="cta">Ir</a>
            </div>
            <img src="../../img/curso4.png" width="500" height="250">
        </div>
    </section>
    <section class="galeria">
        <div class="contenedor">
            <h2 class="titulo">Libros recomendados</h2>
            <article class="galeria-cont">
                <img src="../../img/uno.jpg" alt="">
                <img src="../../img/dos.jpg" alt="">
                <img src="../../img/tres.jpg" alt="">
                <img src="../../img/cuatro.jpg" alt="">
                <img src="../../img/cinco.jpg" alt="">
                <img src="../../img/seis.jpg" alt="">
            </article>
        </div>
    </section>
    <footer id="contacto">
        <div class="contenedor">
            <h2 class="titulo">Recibe notificaciones y noticias a tu correo</h2>
            <form action="" class="form">
                <input class="input"  type="text" name="" id="" placeholder="Nombre">
                <input class="input"  type="email" name="" id="" placeholder="Email">
                <textarea  class="input" name="" id="" cols="30" rows="10" placeholder="Comentario"></textarea>
                <input class="input"  type="submit" value="Enviar">
            </form>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
</body>

</html>